// colors
$darkGreen: #193bd0;
$green: #3b51fa;
$lightGreen: #96a0f5;
$veryLightGreen: #f6f6f6;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: "Andada Pro", serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);
